.home{
    background-image:url('');
    background-size:contain;
    height: 700px;
    width:100%
}
.home h1{
    font-size: 50px;
    color:black;
    text-align:center;
}
.add{
    border-radius:30px;
    height:49px;
    
    width: 380px;
    
    position:relative;
    margin-left:450px;
}
.enter{
    position: relative;
    border-radius:30px;
    height:50px;
    border: 2px solid rgb(68, 66, 66);
    width: 380px;
    border:none;
}
.shopnow{
    border-radius:25px;
    background-color:#217041;
    border-color: #217041;
    height:46px;
    width:70px;
    color: white;
    padding:4px;
    position:absolute;
    right:2px;
    top:2px;
    }
.cate{
    position:relative;
    padding-top:0;
    width:100%;
    height:400px;
    background-color: antiquewhite;
    margin-top:237px;
    padding-top:100px;
    
}
.cate h1{
    text-align: center;
}

.box1{
    height:300px;
    width:250px;
    border-radius:10px;
    position: absolute;
    background-image: url('');
    background-size:contain;
    top:230px;
}
.box2{
    height:300px;
    width:250px;
    border-radius:10px;
    position: absolute;
    top:230px;
    left: 350px;
    background-image: url('');
    background-size:cover;
    
}
.box3{
    height:300px;
    width:250px;
    border-radius:10px;
    position: absolute;
    background-image: url('');
    background-size:cover;
    top:230px;
    left: 660px;
    
}
.box4{
    height:300px;
    width:250px;
    border-radius:10px;
    position: absolute;
    background-image: url('');
    background-size:cover;
    top:230px;
    left:970px;
    
}
